# Pandas

pandas is an open source Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

In [10]:
!pip install PyDrive


from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import os

class download_data_from_folder(object):
    def __init__(self,path):
        path_id = path[path.find('id=')+3:]
        self.file_list = self.get_files_in_location(path_id)
        self.unwrap_data(self.file_list)
    def get_files_in_location(self,folder_id):
        file_list = drive.ListFile({'q': "'{}' in parents and trashed=false".format(folder_id)}).GetList()
        return file_list
    def unwrap_data(self,file_list,directory='.'):
        for i, file in enumerate(file_list):
            print(str((i + 1) / len(file_list) * 100) + '% done copying')
            if file['mimeType'].find('folder') != -1:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    os.makedirs(os.path.join(directory, file['title']))
                print('Copying folder ' + os.path.join(directory, file['title']))
                self.unwrap_data(self.get_files_in_location(file['id']), os.path.join(directory, file['title']))
            else:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    downloaded = drive.CreateFile({'id': file['id']})
                    downloaded.GetContentFile(os.path.join(directory, file['title']))
        return None

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (47.1.1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Two key data structures were introduced to Python by Pandas, both of which are essentially built on top of NumPy and inherits its fast performance 

* Series 
* DataFrame

## Series

This is a 1-dimensional object similar to column in a spreadsheet or SQL table. By default each item will be assigned a index label from 0 to N.

In [3]:
# creating a series by passing a list of values, and a custom index label. 
# Note that the labled index reference for each row and it can have duplicate values
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print (s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

### If you create a series using dictionary the key will become the index by default.

In [23]:
 # The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index
sample_dict = {'A':1,'B':2,'C':3,'D':np.nan,'E':5,'F':6}
sample_dict

s = pd.Series(sample_dict)
print (s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

### DataFrame

It is a 2-dimensional object similar to spreadsheet or a SQL table. This is the most commonly used pandas object.

In [24]:
data = {'Gender': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Age': [25, 27, 25]}

# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
df

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25

### Reading and Writing Data

We'll see 3 commonly used file format under reading and writing 
* csv
* .txt
* Excel

Note: Write will by default overwrite any existing file with same name

In [25]:
# from csv
for file in os.listdir():
  print(file)

df=pd.read_csv('data/mtcars.csv')

# to csv, index = False will not write the row numbers
df.to_csv('data/mtcars_new.csv', index=False)

.config
sample_data

FileNotFoundError: ignored

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [34]:
# for variable in os.listdir('drive/My Drive/Colab Notebooks/data'):
#   print(variable)
# from .txt file
df=pd.read_csv('drive/My Drive/Colab Notebooks/data/mtcars.txt', sep='\t')


# to .txt, index = False will not write the row numbers
df.to_csv('drive/My Drive/Colab Notebooks/data/mtcars_new.txt', sep='\t', index=False)

In [36]:
# from Excel
df=pd.read_excel('drive/My Drive/Colab Notebooks/data/mtcars.xlsx','Sheet2')

df.to_excel('drive/My Drive/Colab Notebooks/data/mtcars_new.xlsx',sheet_name='Sheet1', index = False)

# reading from multiple sheets of same Excel into different dataframes
# xlsx = pd.ExcelFile('file_name.xls')
# sheet1_df = pd.read_excel(xlsx, 'Sheet1')
# sheet2_df = pd.read_excel(xlsx, 'Sheet2')

### Basic Statistics on DataFrame

describe() - will returns the quick stats such as count, mean, std, min, first quartile, median, third quartile, max on each column of the DataFrame

In [ ]:
# Summary statistics for the dataframe

df = pd.read_csv('Data/iris.csv')
df.describe()

### Covariance

Covariance is one of the fundamental technique to understand the relation between two variable. A positive covariance number between two variables means that they are positively related, while a negative covariance number means the variables are inversely related. The key drawback of covariance is that it does explain us the degree of positive or negative relation between variables

In [ ]:
# covariance: It returns the co-variance between suitable columns
df.cov()

### Correlation

Correlation is another most commonly used technique to determine the relationship between two variables. Correlation will explain wheather variables are positively or inversely related, also number tells us the degree to which the variables tend to move together.

When we say that two items are correlated means that the change in one item effects a change in another item. Correlation is always a range between -1 and 1. For example, If two items have a correlation of .6 (60%) means that change in one item results in positive 60% change to another item.

In [ ]:
# correlation: It returns the correlation between suitable columns.

df.corr()

### Viewing Data

In [ ]:
# Looking at the top n records
# view 1st 2 rows. If n not specified the default value is 5
df.head(n=2)

In [ ]:
# looking at the bottom n records
df.tail()

In [ ]:
df.dtypes

In [ ]:
print ("Column Names:" , df.columns)

In [ ]:
print ("DataFrame Index: ", df.index)

In [ ]:
# Get dataframe values only
print (df['Sepal.Length'].values) # for a specific column 
print (df.values) # entire dataframe

In [ ]:
# identify unique values of a column
df['Species'].unique()

In [ ]:
# Sort your dataframe
df.sort_values(by =['Species', 'Sepal.Length'], ascending=[True,True])

In [ ]:
# selection/view by column name
df['Species']

In [ ]:
# selection by row numbers
df[0:3]

#### Different selection by lable options
* loc: only work on index
* iloc: work on position
* iat: Get scalar values. It's a very fast iloc

In [ ]:
# selection by index
print (df.loc[0:2])

# selection by index of specific lable names
print (df.loc[0:3,['Species','Petal.Width']])

In [ ]:
# Selection by poisition
print (df.iloc[0:2])

In [ ]:
# Selection by poisition between given rows as range
df.iloc[0:2,0:2]

In [ ]:
# selection by position between given specific row numbers
df.iloc[[1,2,4],[0,2]]

In [ ]:
# selectcion by row and column index (index starts with 0). 
# Below case will fetch the [first row index, first column index] value
print (df.iat[1,1])  # Get scalar values. It's a very fast iloc
print (df.iloc[1,1])   # Get data from dataframe without it being in the index

print (df.iloc[:, 2]) # select column by position

In [ ]:
# Transpose dataframe
df.T

### Boolean Indexing

In [ ]:
# Filter dataframe based on a value condition on one column

df[df['Sepal.Length'] > 7.5]

In [ ]:
# Filter dataframe based on multiple value condition on one column
df[df['Species'].isin(['versicolor', 'virginica'])]

In [ ]:
# filter based on multiple conditions on multiple columns using AND operator
df[(df['Sepal.Length']>7.5) & (df['Sepal.Width']>3)] # AND operator

In [ ]:
#  filter based on multiple conditions on multiple columns using OR operator
df[(df['Sepal.Length']>7.5) | (df['Sepal.Width']>3)] # OR operator

### Basic Operations

In [ ]:
# Convert string to datetime series
date_strings = ('2017-04-01','2017-04-02','2017-04-03','2017-04-04')

pd.to_datetime(pd.Series(date_strings))

In [ ]:
# Rename a specific column name
df.rename(columns={'Sepal.Length':'Sepal_Length'}, inplace=True)

# Rename all the column names
df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

In [ ]:
# Remove duplicates

raw_data = {'first_name': ['Amy', 'Amy', 'Jason', 'Nick', 'Stephen','Amy'],
        'last_name': ['Jackson', 'J', 'Miller', 'Milner', 'L','J'],
        'age': [42, 42, 36, 24, 24, 42]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age'])
print (df)
print('----------------')
print (df.duplicated())
print('----------------')
print (df.drop_duplicates())
print('----------------')

# Drop duplicates in the first name column, but take the first obs in the duplicated set.
# To retian last obs of duplidate, change the keep option to 'last'
df.drop_duplicates(['first_name'], keep='first')

In [ ]:
# Creating new column from existing column

df['age_plus_5'] = df['age'] + 5
df

# Creating new column from elements of two columns
df['full_name'] = df['first_name'] + '_' + df['last_name']
df

# adding a list a new column to DataFrame
df['gender'] = pd.Series(['F','F','M','M','M','F'])
df

### Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("---------After dropping NA's-----------")
# drop rows or columns having missing data
print (df.dropna())

In [ ]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("---------After replacing NA's with 0-----------")
# replaces all missing values with 0
df.fillna(value=0)

In [ ]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("----------Missing Value Flag----------")
# Check missing value condition and return boolean value of true or false for each cell
pd.isnull(df)

In [ ]:
# Replace all missing values for a given column with its mean
mean=df['age'].mean() # calculate mean for 'age'

df['age'].fillna(mean)

In [ ]:
# Replace missing values with last valid observation. This is useful in time series senarios. 
# For example if you have a temperature data, you might want to fill the missing values with the 
# previous (or last) available hour rather than with mean as the temperature might not change drastically compared to previous hour

# There are mainly two methods available
# pad / ffill - forward fill
# bfill / backfill - backward fill
# limit: If method is specified, this is the maximum number of consecutive NaN values to forward/backward fill
df.fillna(method='ffill', inplace=True, limit = 1)

### Operations

In [ ]:
# Return mean for each column
df.mean()

In [ ]:
# Return min for each column
df.min()

In [ ]:
df.max()

In [ ]:
# Return sum for each column
df.sum()

In [ ]:
# Return count for each column
df.count()

In [ ]:
# Return cummulative sum for each row
df.cumsum()

### Applying function to element, column or dataframe

### Apply

In [ ]:
# As the name suggests, applies a function along any axis of the DataFrame
df.apply(np.cumsum)

In [ ]:
# Map: It iterates over each element of a series.

df['age'].map(lambda x: 1+x) # this will add a constant 1 to each element of column1

In [ ]:
# ApplyMap: This helps to apply a function to each element of dataframe.
func = lambda x: x + 1

# all columns of dataframe should be numeric type as we are trying to perform addition operation
df_filtered = df.iloc[:,2:4]
print("------ Before applyMap ------")
print (df_filtered)
print("------ After applyMap ------")
print (df_filtered.applymap(func)) #it will add a constant 1 to each element of dataframe

### Merge

Pandas has a rich functionality such as set operations of algebra and join operations of relations database, for combining multiple series, DataFrames

In [ ]:
data = {
        'emp_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Jason', 'Andy', 'Allen', 'John', 'Amy'], 
        'last_name': ['Larkin', 'Jacob', 'A', 'AA', 'Jackson']}
df_1 = pd.DataFrame(data, columns = ['emp_id', 'first_name', 'last_name'])
print ("----df_1----")
print (df_1)

In [ ]:
data = {
        'emp_id': ['4', '5', '6', '7'],
        'first_name': ['James', 'Shize', 'Kim', 'Jose'], 
        'last_name': ['Alexander', 'Suma', 'Mike', 'G']}
df_2 = pd.DataFrame(data, columns = ['emp_id', 'first_name', 'last_name'])
print (df_2)

In [ ]:
# Using concat
df = pd.concat([df_1, df_2])
print (df)

# Using append
print (df_1.append(df_2))

In [ ]:
# Join the two dataframes along columns
print (pd.concat([df_1, df_2], axis=1))

In [ ]:
# Merge two dataframes based on the emp_id value
# in this case only the emp_id's present in both table will be joined
print (pd.merge(df_1, df_2, on='emp_id'))

### Join (SQL Style Merges)

Left join produces an output table containing complete set of records from Table A, and only the matching records in Table B. If there is no match, the right side will contain null.

Note: Note that you can suffixe to avoid duplicate, if not provided it will automatically add x to the Table A and y to Table B

In [ ]:
# Left join
print (pd.merge(df_1, df_2, on='emp_id', how='left'))

# Add a suffix to duplicate column names of both table
print (pd.merge(df_1, df_2, on='emp_id', how='left', suffixes=('_left', '_right')))

Right join - Right join produces an output table with complete set of records from Table B, and matching records from Table A. If there is no match, the left side will contain null.

In [ ]:
# right join
print (pd.merge(df_1, df_2, on='emp_id', how='right'))

### Inner Join

Inner join produces an output talbe that contains only the set of records that match in both Table A and Table B

In [ ]:
print (pd.merge(df_1, df_2, on='emp_id', how='inner'))

### Outer Join

Also known as full outer join will produce an output table that contains set of all records in Table A and Table B, with matching records from both sides. If there is no match, the missing side will contain null

In [ ]:
print (pd.merge(df_1, df_2, on='emp_id', how='outer'))

In [ ]:
# Merge based on indexes
pd.merge(df_1, df_2, right_index=True, left_index=True)

### Grouping

Pandas “group by” will enable us to achieve the below:

* Applying an aggregation function to each group independently
* Based on some criteria split the data into groups
* Combining the results of the "group by" into a data structure

In [ ]:
df = pd.DataFrame({'Name' : ['jack', 'jane', 'jack', 'jane', 'jack', 'jane', 'jack', 'jane'],
                   'State' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK', 'SFO', 'CA'],
                   'Grade':['A','A','B','A','C','B','C','A'],
                   'Age' : np.random.uniform(24, 50, size=8),
                   'Salary' : np.random.uniform(3000, 5000, size=8),})

# Note that the columns are ordered automatically in their alphabetic order
# for custom order please use below code
# df = pd.DataFrame(data, columns = ['Name', 'State', 'Age','Salary'])
print (df)

In [ ]:
df.groupby('Name').sum()

In [ ]:
# Find max age and salary by Name / State
# You can use all aggregate functions such as min, max, mean, count, cumsum
print (df.groupby(['Name','State']).max())

### Pivot Tables

Pandas provides a function 'pivot_table' to create MS-Excel spreadsheet style pivot table. It can take following arguments:

*	data: DataFrame object
*	values: column to aggregate
*	index: row labels
*	columns: column labels
*	aggfunc: aggregation function to be used on values, default is NumPy.mean

In [ ]:
# by state and name find mean age for each grade
print (pd.pivot_table(df, values='Age', index=['State', 'Name'], columns=['Grade']))